html {
    background-image: url("images/campus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: 801px) {
  body {
    font-size: 1.5vw;
  }
  li {
    font-size: 1.3vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  body {
    font-size: 1.5vh;
  }
  li {
    font-size: 1.3vh;
  }
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10% auto;
    padding: 50px;
    width: 60vw;

}

li {
  font-family:'Montserrat', sans-serif;
  margin-left: 30px;
  font-weight: 500;
  line-height: 140%;
}

p {
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 140%;
    text-align: justify;
    color: #333;

}


#logo {
  width: 100%;
  margin: 0% auto;

}

#names {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80%;
  letter-spacing: 1.5px;
  line-height: 150%;
}

p2 {
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

}

p2:hover {

}

.button {
  background-color: #c9c2c0;
  border: none;
  padding: 4%;
  text-align: center;
  text-decoration: none;
  display: relative;
  font-size: 2vw;
  margin: 10 auto;
  /* cursor: not-allowed; */
    position: relative;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 1s ease-in-out;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: #8726ff;
}
