

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 20px solid #c9c2c0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 2000px;
  margin: 0;
  padding: 40;
  background-image: url(memories.jpg);
  width: 100%;
  height: 100%;
  font-family:montserrat, sans-serif;
}

a{
 color: #8726ff;
     }

.button{
    background-color: #8726ff;
    padding: 16px;
    border: none;
    align-items: center;
}
    
    