.wrapper {
    background-color: white;
    margin: 4% auto;
    padding: 20px;
    width: 90%;
}

p {
    font-family: "Menlo", courier, monospace;
    font-weight: normal;
    font-size: 2vw;
    line-height: 120%;
    text-align: justify;
    color: #857b57;

}

h1 {

    font-family: "Menlo", courier, monospace;
    font-size: 6vw;
    line-height: 80%;
    color: white;
    font-style: normal;
    font-weight: 600;
    padding: 20px;
    margin: 4% auto;
}
